name: Tests

on:
  push:
    branches:
      - main
      - dccboxed-*
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - dccboxed-*

jobs:

  release:
    name: Upload Release Package
    if: github.event_name == 'push' && github.ref_type == 'tag' && startsWith(github.ref_name, 'v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Extract and check package version
      id: get-package
      run: |
        package="data.txt"
        if test -f "${package}"; then
          echo "package=$package" >> "$GITHUB_OUTPUT"
        else
          echo "Error: expected package file at: ${package}" 1>&2
          exit 1
        fi
    - name: Extract change log
      id: get-log
      run: |
        set -x
        previousRelease=$(gh release view --json tagName --jq .tagName)
        echo "Previous release: ${previousRelease}"
        git tag
        log=$(git log '--pretty=format:%s' --invert-grep  --grep ^build  ${previousRelease}..${{ github.sha }})
        log="${log//'%'/'%25'}"                               # Multiline escape sequences for %
        log="${log//$'\n'/'%0A'}"                             # Multiline escape sequences for '\n'
        log="${log//$'\r'/'%0D'}"                             # Multiline escape sequences for '\r'
        echo "Changelog: ${log}"
        echo "log=$log" >> "$GITHUB_OUTPUT"
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ steps.get-package.outputs.package }}
        tag: ${{ github.ref }}
        overwrite: true
        body: |
          **Changelog**
          
          ${{ steps.get-log.outputs.log }}
